.calendar {
	display: flex;
	background: #212529;
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);
	border-radius: 8px;
	padding: 25px 20px 30px 20px;
	align-items: center;
	width: 520px;
	overflow: hidden;
}
.datepicker--pointer {
	display: none;
}
.datepicker {
	border-radius: 8px;
	border: 0px solid black;
}
.calendar_barrier {
	margin: 0px 10px;
}
.datepicker--nav {
	border-bottom: 0px solid #efefef;
	-webkit-justify-content: center;
	justify-content: center;
}
.datepicker--day-name {
	font-family: Montserrat Alternates;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	letter-spacing: 0.05em;
	color: #F6F6F6;
} 
.datepicker {
	background-color: #212529;
}
.datepicker--nav-title, .datepicker--nav-title i {
	font-family: Montserrat Alternates;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 0.05em;
	color: #F6F6F6;
}
.datepicker--nav-title:hover {
	background-color: #212529;
	color: #D7D7D7;
}
.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
	color: #212529;
	background: #212529;
	border-radius: 0px;
}
.datepicker {
    font-family: Montserrat Alternates;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	letter-spacing: 0.05em;
	color: #F6F6F6;
}
.datepicker--cell.-current- {
	color: #F6F6F6;
} 
.datepicker--cell.-selected- {
	font-family: Montserrat Alternates;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	letter-spacing: 0.05em;
	color: #FDB576;
	background-color: #2A2E32;
}
.datepicker--cell.-focus- {
	background: #2A2E32;
}
.datepicker--cell.-selected-.-focus-, .datepicker--cell.-current-.-focus-, .datepicker--cell.-selected-.-current- {
	color: #FDB576;
	background: #2A2E32;
}
.datepicker--cell-day.-other-month-:hover {
	color: #212529;
	background-color: #212529;
	cursor: default;
}
.datepicker--cell.-current-.-in-range-, .datepicker--cell.-in-range- {
	color: #f6f6f6;
	background-color: rgb(55,59,62);
}